
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-top: 1rem;
}

footer {
    background-color: #0A1121;
}

.white {
    color: white;

}

li {
    list-style-type: none;
  }

